Dataset/
.Rproj.user
R_Env/
DataCamp Introduction to RNA-Seq/.Rhistory
R tutorial/.RData
R tutorial/.Rhistory
RProject/.RData
RProject/.Rhistory
RProject/.Rproj.user
RProject/archs4_gene_mouse_v2.1.2.h5